@@@import "compass"
//variables
$clearSky: #337ab7
$spanishViolet: #46237A
$eucalyptus: #3DDC97
$babyPowder: #FCFCFC
$magicPotion: #FF495C
//mixins
=day
  background-color: $clearSky

=night
  background-color: darken($clearSky, 20%)

=shadow($side)
  text-shadow: $side 8px 4px black

=keyframes($name)
  @-webkit-keyframes #{$name}
    @content

  @-moz-keyframes #{$name}
    @content

  @-o-keyframes #{$name}
    @content

  @keyframes #{$name}
    @content

=animate($name, $duration, $timing-function, $iteration)
  -webkit-animation: $name $duration $timing-function $iteration
  -moz-animation: $name $duration $timing-function $iteration
  -o-animation: $name $duration $timing-function $iteration
  animation: $name $duration $timing-function $iteration
//keyframes
+keyframes(circle)
  50%
    text-shadow: -8px -8px 4px black
//animations
=round
  +animate(circle, 4s, ease, infinite)

body
  margin: 0
  background:
    color: $clearSky
  overflow: hidden
  font-family: 'Crete Round', serif

.icon:before
  font-family: 'MeteoconsRegular'
  content: attr(data-icon)

.main
  display: flex
  flex-direction: row
  justify-content: space-between

#start
  width: 100%
  padding: 10px
  font-size: 3em
  border-radius: 5px
  color: white
  box-shadow: 10px 10px 4px black

.init
  flex-wrap: wrap
  margin:
    top: 20%
    left: 15%

#sun
  width: 33.33%
  flex-wrap: wrap
  margin:
    top: -30%
    left: -23%
    right: 7%
  color: #FAD873
  font-size: 44em
  text-decoration: none
  +shadow(8px)
  +round
  &:hover
    cursor: default

#cloud
  width: 33.33%
  flex-wrap: wrap
  margin:
    top: 17%
  color: white
  font-size: 40em
  text-decoration: none
  +shadow(-8px)
  +round
  &:hover
    cursor: default

.btn
  &:focus
    outline: none

#mainIcon
  flex: auto
  font-size: 44em

@font-face
  font-family: 'MeteoconsRegular'
  src: url('meteocons-webfont.eot')
  src: url('fonts/meteocons-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/meteocons.woff') format('woff'), url('fonts/meteocons.ttf') format('truetype'), url('fonts/meteocons-webfont.svg#MeteoconsRegular') format('svg')
  font-weight: normal
  font-style: normal

//Results
.clearSkyDay
  +day

.clearSkyNight
  +night

.rain
  +night
