//variables
$blue: #256EFF
$spanishViolet: #46237A
$eucalyptus: #3DDC97
$babyPowder: #FCFCFC
$magicPotion: #FF495C

body
  margin: 0
  background:
    color: $eucalyptus

main
  display: flex
  justify-content: center
  align-items: center
  
